{% extends 'base.html' %}

{% block content %}






<div class="container">
    <div class="row">
        {% for item in object_list %}

        <div class="offset-2 col-4">
            <ul class="alert alert-{{ item.priority }}" style='list-style:none;'>




                <li>{{ item.title }}</li>
                <li>{{ item.text }}</li>



            </ul>

            <p>
                <a href="{% url 'todo:detail' item.pk %}">Detail</a>
            </p>
        </div>

        {% endfor %}
    </div>
</div>






{% endblock %}